body{
    max-width: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;
    color: #373737;
    font-size: 70%;
}
nav img{
    width: 60%;
}
nav i{
    color: #373737;
}
a{
    color: #373737;
    font-weight: 600;
}
a.open{
    color: #022EC1;
}
a.signin{
    color: #022EC1;
    border: 2px solid #022EC1;
    border-radius: 0.7em;
    width: 7.5em;
    text-align: center;
}
a.signin:hover{
    color: #ccc;
}
a:hover{
    color: #ccc;
}
.navBtn{
    margin-top: -12%;
}
h1{
    color: #022EC1;
    text-transform: capitalize;
    text-align: center;
    margin-top: 4em;
    font-weight: 700;
    font-size: 1.7em;
}
.faqs{
    margin-top: 3em;
}
.questions{
    border-bottom: 1px solid #e4e3e3;
    margin: 1em;
}
h2{
    font-size: 1.1em;
    font-weight: 700;
}
p{
    font-size: 0.8em;
    width: 80%;
}
h2 span{
    color: #022EC1;
    float: right;
    margin-top: 0;
    margin-right: 2%;
}
h2 span i{
    font-weight: lighter;
}
@media screen and (min-width:26em){
    .navBtn{
        margin-top: 0;
    } 
}
@media screen and (min-width:47.5em){
    body{
        font-size:100%;
    }
    nav img{
        width: 70%;
    }
    a{
        font-size: 0.7em;
    }
    a.signin{
        width: unset;
    }
}
@media screen and (min-width:64em){
    body{
        font-size: 130%;
    }
    nav img{
        width: 100%;
    }
    a{
        font-size: 0.67em;
        font-weight: 700;
    }
    nav ul li{
        padding: 0 1em 0 1em;
    }
    a.signin{
        width: 9em;
        text-align: center;
    }
}