body{
   font-family: 'Raleway', sans-serif;
   color: #373737;
}
.navbar{
   margin-left: 0px;
   opacity: 1.5;
   background-color: #022EC1;
}
.list{
    color: white;
}
.nav-link{
    color: white;
}

.py-{
    padding-top: 140px;
}
.profile i{
    color: #022EC1;
    font-weight: lighter;
    font-size: 150%;
}
.proHead{
    margin-top: -0.2%;
    font-weight: 600;
    font-size: 2em;
}
#proAccount h1{
    font-weight: 600;
    font-size: 1.5em;
    color: #022EC1;
    border-bottom: 1px solid rgb(196, 192, 192);
    padding: 0.5em;
    margin-left: -2%;
}
#proAccount h3{
    font-size: 1.2em;
    font-weight: 600;
    text-transform: capitalize;
}
#proAccount p{
    font-size: 1em;
}
.editBtn, .proBtn{
    background: #022EC1;
    color: #ffff;
    width: 200px;
}
#editDetails h1{
    font-weight: 600;
    font-size: 1.5em;
    color: #022EC1;
}
#editDetails h4{
    font-size: 1em;
    font-weight: 600;
    text-transform: capitalize;
}
#editDetails p{
    font-size: 0.8em;
}
@media screen and (max-width: 350px){
   .logo img{
       width: 80%;
   }
   .sideNav{
       margin-top: -15%;
   }
} 