/* css reset */
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

.login-container {
  width: 100%;
  height: 100vh;
}

.pattern {
  width: 100%;
}

.row {
  height: 100vh;
}

.login-form-1 {
  position: relative;
  padding: 10% 0;
  background: #022ec1;
  background-image: url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1569283584/pattern_xx6sq7.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form-1 img {
  position: absolute;
  top: 40%;
  left: 20%;
}

.login-form-2 {
  padding: 10% 0;
  background-color: #ffffff;
  position: relative;
}

.login-form-2 h3 {
  text-align: center;
  color: #373737;
  padding-bottom: 3%;
  font-weight: 600;
}

.login-container form {
  padding: 0%;
}

.form-group-sign p {
  text-align: center;
}

.btnSubmit {
  width: 100%;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.login-form-2 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #022ec1;
  margin-top: 10px;
}

.ForgetPwd {
  color: #022ec1;
  font-weight: 600;
  text-decoration: none;
  display:block;
  text-align: center;
  width: auto;
}

.signup {
  color: #022ec1;
  font-weight: 750;
  text-decoration: none;
}

.login-form-2 .sign {
  margin: 0 150px;
}

.form-group {
  padding: 0 10%;
}

.hover input:hover {
  background-color: #3f76e6;
  font-weight: 750;
  text-decoration: none;
}

@media only screen and (min-device-width: 568px)
and (max-device-width: 948px) {
  .login-form-2 h3 {
    text-align: center;
    font-weight: 200;
    font-size: 150%;
  }

  .ForgetPwd {
    text-align: center;
  }
}

@media only screen and (min-device-width: 100px)
and (max-device-width: 639px) {
  .login-form-2 h3 {
    text-align: center;
    font-weight: 200;
    font-size: 150%;
  }

  .ForgetPwd {
    text-align: center;
  }
}

@media only screen and (max-device-width: 512px) {
  .login-form-1 img {
    position: absolute;
    top: 40%;
    left: 10%;
  }
}

@media only screen and (max-device-width: 379px) {
  .login-form-1 img {
    position: absolute;
    top: 40%;
    left: 6%;
  }

}

@media only screen and (min-device-width: 0em) {
  .pattern{
      background: url('https://res.cloudinary.com/taofeeq/image/upload/v1569272984/TriptoTracker/pattern_xfwn22.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
  }
}

@media only screen and (max-device-width: 767px) {
  .pattern {
    height: 20%;
  }
}
