body{
    max-width: 100%;
    height: auto;
    font-family: 'Raleway Regular', arial;
    color: #373737;
    font-size: 70%;
}

.row {
  height: 100vh;
}

h1 img{
    margin-top: 1em;
    width: 60%;
}
h1{
    font-size: 115%;
    text-align: center;
    font-weight: lighter;
}
p{
    text-align: center;
    font-size: 1em;
    font-weight: 500;
}
a{
    text-transform: capitalize;
    color: #022EC1;
}
a:hover, a:focus{
    text-decoration: none;
    color: rgb(33, 82, 243);
}
form{
    margin-top: 4em;
    padding-left: 6%;
}

.form-group {
  padding: 0 7%;
}

.btn{
    text-transform: uppercase;
    background: #022EC1;
    color: #FFFFFF;
    font-weight: 600;
    margin-top: 1em;
}
.btn:hover, .btn:focus{
    cursor: pointer;
    background: rgb(33, 82, 243);
}
@media screen and (min-width: 0em){
    body{
        font-size: 120%;
    }

    .mobile{
        display: none;
    }
    h1{
        text-align: center;
        margin-top: 2.5em;

    }
    .pattern{
        background: url('https://res.cloudinary.com/taofeeq/image/upload/v1569272984/TriptoTracker/pattern_xfwn22.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    form{
        margin: 1em auto;
        font-size: 80%;
    }
    .btn{
        font-weight: 400;
        font-size: 1.1em;
    }
}
@media screen and (min-width: 576px){
    body{
        font-size: 120%;
    }

    .tab-pc{
        max-width: 90em;
        margin: auto;
    }
}

@media screen and (max-width: 576px) {
  .pattern {
    height: 20%;
  }

  h1{
      text-align: center;
      margin-top: 1em;
      font-size: 110%;
  }
}
