* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #FFFFFF;
    height: 100%;
}


/*position: fixed;*/

.navbar {
    font-size: 22px;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.tripttotracker_logo {
    text-decoration: none;
    color: #000;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.tripttotracker_logo {
    display: inline-block;
    margin-top: 10px;
    margin-left: 0.5rem;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #000;
    font-size: 35px;
}

.active {
    display: block;
}

.product-overview {
    margin: 7rem 1rem 0rem;
}

.product-overview__section>h1 {
    font-weight: 800;
    color: #000;
}

.product-overview__section>ul {
    margin-left: 1rem;
    margin-top: 1.5rem;
    color: blue;
    font-weight: 650;
}

.product-overview__section>ul>li>p {
    color: #000;
}

.signUpButton {
    background-color: blue;
    color: #fff;
    margin-top: 1rem;
    text-align: center;
    width: 280px;
    height: 42px;
    border: thin;
    border-radius: 5px;
    user-select: none;
    outline: none;
}

@media screen and (min-width: 981px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 15px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        font-weight: 600;
        font-size: 20px;
        margin-left: 35px;
    }
    .tripttotracker_logo {
        margin-top: 0;
        margin-left: 2rem;
    }
    .navbar-toggle {
        display: none;
    }
    .nav-links:hover {
        color: #000;
        text-decoration: none;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .product-image {
        display: none;
    }
    .product-overview__section {
        text-align: center;
    }
    .signUpButton {
        width: 90%;
        text-align: center;
    }
}