    /* DOWNNLOAD CSS */
    
    @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .download_triptotracker {
        margin: 8em 1.5em 0em 1.5em;
    }
    
    .download_text>h2 {
        color: #1927e6;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 32px;
    }
    
    .download_text>p {
        color: #000;
        font-family: 'Raleway', sans-serif;
        margin-top: 0.8em;
    }
    
    .mobile_download {
        margin-top: 3.5rem;
    }
    
    .mobile_download>a>span>img {
        display: inline-block;
        width: 255px;
        height: 90px;
    }
    
    .mobile_download>a>span>img:last-child {
        padding-left: 15px;
    }
    /* ------ MEDIA-QUERY ----- */
    
    @media only screen and (min-width: 768px) {
        .mobile_download>a>span>img:last-child {
            margin-top: 0.6em;
        }
    }
    
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        .mobile_download>a>span>img {
            display: block;
            text-align: center;
            padding: 10px 7px;
        }
        .download_text {
            text-align: center;
        }
        .download_image {
            display: none;
        }
    }
    /* END DOWNLOAD CSS */