* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 50%;
}

.reset h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 35px;
}

.wrapper p {
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 13px;
}

.confirm_pass {
  margin-top: 20px;
}

.button .btnSubmit {
  margin-top: 30px;
  width: 100%;
  background-color: #022ec1;
  padding: 8px;
  color: #ffffff;
}

.input1 {
  padding: 12px;
}

.container-fluid {
  position: relative;
}

.arrow-left .fas {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #022ec1;
  font-size: 30px;
}
