*{
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: grid;
    background: #FFFFFF;
    grid-template-areas: "header header header header"
                         "main main aside aside"
                         "footer footer footer footer";
    height: 100%;
}
    /*position: fixed;*/
.main-header{
    grid-area: header;
    width: 100vw;
    padding: 1rem 1rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-nav{
    display: inline-block;
    background-color: #fff;
    /*position: fixed;*/
    width: 100%;
    z-index: 3;
}

.mobile-nav #logo{
    /* display: inline-block; */
    float: left;
    position: absolute;
    top: 0px;
}
.logo-img{
     width: 60%;
     position: absolute;
}
.mobile-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}
.mobile-nav li a{
    display: block;
    padding: 1.25rem 1.25rem;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}
.mobile-nav li a:hover,
.mobile-nav .menu-btn:hover{
    background-color: #ccc;
}
.mobile-nav .menu {
    z-index: 999;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/*menu icon */
.mobile-nav .menu-icon {
  cursor: pointer;
  /* display: inline-block; */
  float: right;
  padding: 0.75rem;
  position: relative;
  user-select: none;
}
.mobile-nav .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.mobile-nav .menu-icon .navicon:before,
.mobile-nav .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.mobile-nav .menu-icon .navicon:before {
  top: 5px;
}
.mobile-nav .menu-icon .navicon:after {
  top: -5px;
}
/* menu btn */

.mobile-nav .menu-btn {
  display: none;
}

.mobile-nav .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.mobile-nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.mobile-nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.mobile-nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.mobile-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.mobile-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.main-nav{
    display: flex;
}
.main-nav__logo{
    margin: 0 1rem;
    padding: 0 2rem;
}
.main-nav__items{
    list-style: none;
    margin: 0;
    padding: 0 0 0 15rem;
    display: flex;
}
.main-nav__item{
    margin: 0 1rem;
    padding: 0.5rem;
    text-align: right;
}
.main-nav__item a{
    color:#373737;
    text-decoration: none;
    font-weight: bold;
    padding: 0.2rem 0;
}
.main-nav__item a:hover{
    color: #ccc;
}
.main-nav__item a:active{
    color: #022EC1;
}
.main-nav__item--cta a{
    color: #022EC1;
    border: 2px solid #022EC1;
    border-radius: 8px;
    padding: 0.5rem 1rem;
}
.toggle-button{
   width: 3rem;
   background: transparent;
   border: none;
   cursor: pointer;
   padding-top: 0;
   padding-bottom: 0;
   vertical-align: middle; 
}
.toggle-button:focus{
    outline: none;
}
.toggle-button__bar{
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}
.product-overview{
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
}
.product-overview__section{
    padding: 2rem;
    width: 60%;
}
.product-overview__description{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
}
li{
    color: #022EC1;
}
li p{
    color: black;
}
.product-image{
    width: 40%;
    padding: 3rem;
}
.signUpButton{
    width: 65%;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    background: #022EC1;
    color: #FFFFFF;
}
.signUpButton a{
    text-decoration: none;
}


@media (min-width:40rem){
    .mobile-nav{
        display: none;
    }
}


@media (max-width: 40rem){
  body{
    width: 100%;
    height: 100%;
  }
  /* .mobile-nav li a{ */
    /*width: 100%;*/
  /* } */
  .main-nav__logo{
    display: none;
  }
  .main-nav{
    display: none;
  }
  /* .product-overview{ */
    /*margin-top: 0.5rem;*/
  /* } */
  .product-overview__section{
    width: 100%;
    text-align: center;
  }
  .product-overview__description{
    padding: 0rem 3.5rem;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
  }
  .product-image{
    display: none;
  }
  .signUpButton{
    width: 100%;
  }
}