body{
    max-width: 100%;
    height: auto;
    font-family: 'Raleway', sans-serif;
    color: #373737;
    font-size: 70%;
}
.arrow-left .fas {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #022ec1;
  font-size: 30px;
}
/* .container{
    margin-top: 5em;
} */
.forgot{
    margin: auto;
}
h1{
    font-size: 2em;
    font-weight: 600;
}
p{
    font-size: 1.2em;
}
form{
    margin: 3em auto;
}
.btn{
    background: #022EC1;
    color: #FFFFFF;
    font-size: 1em;
    margin-top: 1.2em;
    padding: 0.8em;
}
.btn:hover, .btn:focus{
    cursor: pointer;
    background: rgb(33, 82, 243);
}
@media screen and (min-width: 420px){
    form{
        width: 80%;
    }
}
@media screen and (min-width: 720px){
    body{
        font-size: 100%;
    }
    form{
        max-width: 500px;
    }
    .btn{
        padding: 0.5em;
    }
    .forgot{
        margin-left: 5%;
    }
}
@media screen and (min-width: 800px){
    form{
        margin-left: 10%;
    }
}