h1 img {
  display: none;
}

.login-container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.login-row {
  width: 100%;
  height: 100%;
}

.signin-label {
  margin: 0 auto;
  text-align: center;
}
.signin-button {
  border-radius: 0px;
  height: 3.5em;
}
.signin-input-label {
  margin-left: 1.5%;
  font-weight: bold;
}

.login-form-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}
.login-column-side {
  margin-left: 0px;
}

.login-form {
  margin: 0px auto;
}
/* #googlebutton{
  background: red;
  width: auto;
} */

@media only screen and (max-width: 580px) {
  .login-row {
    width: 100%;
    height: 100%;
  }
  .signin-pattern {
    height: 70px;
  }
  .login-form-container {
    position: relative;
    margin: 18px;
    transform: translateY(-70%);
    margin: 0 auto;
  }
}
.signin-input {
  width: 100%;
  height: 3.5em;
  margin-left: 1.5%;
  margin-right: 1.5%;
  padding-left: 0.5em;
  border-width: 2px;
}

.signin-forgot-password {
  color: blue;
  font-weight: bold;
}
@media only screen and (max-width: 320px) {
  .signin-label {
    margin-top: 80px !important;
  }

  .signin-forgot-password {
    color: blue;
    font-weight: bold;
  }
}
@media screen and (min-width: 581px) {
  .signin-pattern {
    background: url(https://res.cloudinary.com/taofeeq/image/upload/v1569272984/TriptoTracker/pattern_xfwn22.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 580px) {
  .login-row {
    margin-left: 0px;
    margin-right: 15px;
  }
  .login-container {
    margin-top: 0;
    margin-right: 15px;
  }
  .signin-label {
    margin-top: 80px !important;
  }
  .signin-pattern {
    background: url(https://res.cloudinary.com/taofeeq/image/upload/v1569272984/TriptoTracker/pattern_xfwn22.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px auto;
  }
  .signin-pattern-container {
    position: relative;
  }
  .login-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.gooogle-auth button {
  width: 100%;
  display: flex;
  justify-content: center;
}
