h1 img{
    display: none;
}

.login-container{
    width: 100%;
    height: 100%;
    margin-left: 0px; 
    margin-right: 0px;

}

.login-row{
    width: 100%;
    height: 100%;
}


.signin-label{
    margin: 0 auto;
    text-align: center;
}
.signin-button{
    border-radius: 0px;
    height: 3.5em;

}
.signin-input-label{
    margin-left: 1.5%;
    font-weight: bold;
}

.login-form-container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 570px) {
    .login-row{
        width: 100%;
        height: 100%;
    }
    .login-form-container{
        position: relative;
        top: 20%;
        margin-left: 18px;
        transform: translateY(-50%);

      }
  }
input {
    width: 100%;
    height: 3.5em;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding-left: 0.5em;
    border-width: 2px
    
  }

  .signin-forgot-password{
      color: blue;
      font-weight: bold
  }

  @media only screen and (min-device-width: 0em) {
    .pattern{
        background: url('https://res.cloudinary.com/taofeeq/image/upload/v1569272984/TriptoTracker/pattern_xfwn22.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
  }
  
  @media only screen and (max-device-width: 767px) {
    .pattern {
      height: 20%;
    }
  }

  @media only screen and (min-device-width: 568px)
and (max-device-width: 948px) {
  .side h3 {
    text-align: center;
    font-weight: 200;
    font-size: 150%;
  }

  .ForgetPwd {
    text-align: center;
  }
}

@media only screen and (min-device-width: 100px)
and (max-device-width: 639px) {
  .side h3 {
    text-align: center;
    font-weight: 200;
    font-size: 150%;
  }

  .ForgetPwd {
    text-align: center;
  }
}


