body{
    font-family: 'Raleway', sans-serif;
    color: #373737;
}
.navbar {
    margin-left: 0px;
    opacity: 1.5;
    background-color: #022EC1; 
}
.list{
    color: white;

}
.nav-link{
    color: white;
}
.py-{
    padding-top: 140px;
}
.msg{
    font-size: 30px;
    font-family: 'Raleway';
    display: flex;
    color: #000000;
    text-align: left;
    font-weight: bold;
}
.expenses{
    background-color: white;
    border: 1.5px solid #022EC1;
    color: #022EC1;
    width: 187px;
    height: 50px;
    /* margin-left: -10px; */
    font-size: 0.8em;
    font-weight: 700;
    border-radius: 5px;
    
}
.dropNav{
    box-shadow: 0 0 5px 0.5px rgb(39, 38, 38);
}
.expenses, .budget:hover{
    cursor: pointer;
}
.expenseBtn, .budgetBtn, .specifyBtn, .exportBtn{
    background: #022EC1;
    color: #ffff;
}
.excelBtn{
    border: 0.5px inset #373737;
}
.expenseCat, .budgetScheme{
    font-size: 80%;
}
.budget{
    background-color: white;
    border: 1.5px solid #4BC102;
    color: #4BC102;
    border-radius: 5px;
    width: 187px;
    height: 50px;
    /* margin-left: 10px; */
    font-size: 0.8em;
    font-weight: 700;
}
.col-md-7{
    border-radius: 8px;
}
.totalExp h2{
    color: white;
    margin-top: 10px;
    font-family: 'Raleway';
    /* font-weight: bold; */
    /* font-size: 18px; */
}
.total{
    color: #ffff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.big{
    font-size: 160%;
    font-weight: 800;
}
.week, .month, .year{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    
}
.track h2{
    color: #022EC1;
    font-size: 170%;
    font-weight: 600;
}
.period p{
    font-weight: 700;
}
form i{
    color: #022EC1;
}
.transTable tbody td{
    border: none;
}
.transTable thead th{
    border-top: none;
}
.transTable{
    background: rgb(250, 250, 250);
    box-shadow: 0 2px 2px -2px rgb(39, 38, 38);
}
.pages{
    display: flex;
    flex-flow: row;
    color: #022EC1;
    justify-content: space-evenly;
}
.pages .current{
    color: #ffff;
    background: #022EC1;
}
.pages .first{
    color: rgb(209, 207, 207);
}
.pages a, .pages p{
    padding-bottom: 0em;
    margin-bottom: -0.3em;
}
.expTotal{
    padding: 0.5em;
    border-radius: 15px;
}
@media screen and (max-width: 350px){
    .logo img{
        width: 80%;
    }
    .sideNav{
        margin-top: -15%;
    }
}
@media screen and (max-width: 580px){
    .excelBtn{
        width: 150px;
    }
}
@media screen and (min-width: 376px) and (max-width: 1000px){
    .specify{
        margin: 0.5em;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .expenses, .budget{
        width: 150px;
    }
}