body{
    font-family: 'Raleway', sans-serif;
    color: #373737;
}
.navbar {
    margin-left: 0px;
    opacity: 1.5;
    background-color: #022EC1; 
}
.list{
    color: white;

}
.nav-link{
    color: white;
}
.py-{
    padding-top: 140px;
}
.profile i{
    color: #022EC1;
    font-weight: lighter;
    font-size: 150%;
}
.proHead{
    margin-top: -0.2%;
    font-weight: 600;
    font-size: 2em;
}
.proOptions p:hover{
    cursor: pointer;
}
#proAccount, #proBudget, #proSecurity{
    border-radius: 1em;
    border: 1px solid rgb(196, 192, 192);
}
#proAccount h1, #proBudget h1, #proSecurity h1{
    font-weight: 600;
    font-size: 1.5em;
    color: #022EC1;
    border-bottom: 1px solid rgb(196, 192, 192);
    /* padding-right: 800%; */
    padding: 0.5em;
}
#proAccount h3, #proBudget h3, #proSecurity h3{
    font-size: 1.2em;
    font-weight: 600;
    text-transform: capitalize;
}
#proAccount p, #proBudget p, #proSecurity p{
    font-size: 0.8em;
}
.proName,{
    display: flex;
    flex-flow: row;
}
form i{
    color: #ffffff;
    background: #022EC1;
    padding: 0.5em;
    border-radius: 100%;
}
.proBtn{
    background: #022EC1;
    color: #ffff;
    width: 200px;
}
.durationSelect{
    font-size: 80%;
}
@media screen and (max-width: 350px){
    .logo img{
        width: 80%;
    }
    .sideNav{
        margin-top: -15%;
    }
}