<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mini-HTML</title>
    <link rel="stylesheet" href="mini.css">
</head>

<body>
    <form class="expens-mini-form" action="" method="post">
        <div>
            <label for="item">Item Name</label>
            <input type="text">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text">
        </div>
        <div>
            <label for="amount">Amount</label>
            <input type="text">
            <input type="text">
        </div>
        <div>
            <div class="button">
                <button class="expense-mini-btn" type="button">Filter</button>
                <button class="expense-mini-btn" type="button">Delete Selected</button>
            </div>
    </form>
</body>

</html>