@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.btn-login{
    background-color: #fff;
    border: 1px solid #022EC1;
    border-radius: 8px;
    width: 135px;
    height: 35px;
    
}
.standingman{
    width:auto;
    height:auto;
}
.sittingman{
    width:auto;
    height:auto;
}
.navbar {
    margin-left: 0px;
    opacity: 1.5;
    background: #fff; 
}
.navbar .nav-item {
    font-size: 17px;
    padding-right: 1.9rem; 
    font-family: 'Raleway';
    color: black;
    
}
.py-{
    padding-top: 140px;
}
.msg{
    font-size: 64px;
    font-family: 'Raleway';
    line-height: 75px;
    display: flex;
    color: #000000;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 600px;
}
ul {
    list-style: none;
}  

.list::before {
    content: "\2022";
    color: #022EC1;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    font-size: 170%;
}
.list{
    font-size: 18px;
    font-weight: 600px;
    width: 230px;
    height: 35px;
    left: 60px;
    margin-left: -35px;
}
.btn-signup{
    background-color: #022EC1;
    border: 5px solid #022EC1;
    color: #fff;
    border-radius: 8px;
    width: 295px;
    height: 50px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    margin-left: -10px;
    font-size: 17px;
}
.img-fluid{
    margin-top: 90px;
}
#feature, #questions {
    color: #022EC1;
    font-family: 'Raleway';
    font-weight: bold;
    padding-bottom: 40px;
}
.dashboard, .expenses{
    background-color: #022EC1;
    border: 5px solid #022EC1;
    color: #fff;
    border-radius: 8px;
    width: 218px;
    height: 50px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    margin-left: -10px;
    font-size: 17px;
}
.with{
    width: 485px;
    font-size: 20px;
    font-family: 'Raleway';
    margin-left: 60px;
}
.know{
    font-size: 40px;
    font-family: 'Raleway';
    margin-left: 60px;
}
.standingman{
    margin-left: 280px;
}
.download{
    color: #022EC1;
    font-size: 35px;
    font-family: 'Raleway';
    font-weight: bold;
}
.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}
.three{
    font-size: 18px;
    padding-left: 10px;
    font-weight: normal;
}
.dashboard:hover{
    cursor:pointer;
}
.expenses:hover{
    cursor:pointer;
}
button.expenses{
    margin-left: 50px;
}

@media (min-width: 320px) and (max-width: 480px) {
  
    .text-center{
        font-size: 30px;
        margin-left: 180px;
        margin-top: 15px;
    }
    .standingman{
        margin-top: 70px;
    }
    img.standingman{
        margin-left: 220px;
    }
    h2.know{
        margin-left: 10px;
    }
    .with{
        margin-left: 10px;
        padding-right: 10px;
    }
    img.sittingman{
        margin-top: 30px;
    }
    button.expenses{
    margin-left: -2px;
    }
  }

  @media (min-width: 425px)  {

      .text-center{
        font-size: 30px;
        margin-left: 100px;
        margin-top: 20px;
    }
  
}

  @media (min-width: 481px) and (max-width: 768px) {

    .text-center{
        margin-left: 130px;
        margin-top: 20px;
    }
    h2.know{
        margin-left: 5px;
    }
    .with{
        margin-left: 5px;
        padding-right: 50px;
    }

    img.sittingman{
        margin-top: 20px;
    }

    img.standingman{
    margin-left: 220px;
    }
    button.expenses{
    margin-left: 65px;
    }
    #know1{
        margin-left: 80px;
    }

    #with1{
        margin-left: 80px;
        padding-right: 80px;
    }
  
}
@media (min-width: 500px) and (max-width: 768px) {

    #know1{
        margin-left: 10px;
    }

    #with1{
        margin-left: 10px;
        padding-right: 80px;
    }

    button.expenses{
    margin-left: 2px;
    }

    .text-center{
        margin-left: 30px;
        margin-top: 20px;
    }
    img.standingman{
        height:250px;
        width: 250px;
        margin-left: 210px;
    }
    .container{
        margin-left: 10px;
    }

  

}

@media (min-width: 768px) and (max-width: 1020px) and (orientation: landscape) {
  
  .text-center{
        margin-left: 130px;
        margin-top: 20px;
    }
    h2.know{
        margin-left: 0px;
    }
    .with{
        margin-left: 0px;
        padding-right: 50px;
    }

    img.sittingman{
        margin-top: 20px;
    }

    img.standingman{
    margin-left: 220px;
    }
    button.expenses{
    margin-left: 65px;
    }
    #know1{
        margin-left: 80px;
    }

    #with1{
        margin-left: 80px;
        padding-right: 80px;
    }

}

@media (min-width: 1024px) and (max-width: 1450px) {
  
    .text-center{
        margin-left: 100px;
        margin-top: 20px;
    }
    h2.know{
        margin-left: 5px;
    }
    .with{
        margin-left: 5px;
        padding-right: 50px;
    }

    img.sittingman{
        margin-top: 20px;
    }

    img.standingman{
    margin-left: 160px;
    }
    button.expenses{
    margin-left: 30px;
    }
    #know1{
        margin-left: 40px;
    }

    #with1{
        margin-left: 40px;
        padding-right: 80px;
    }
 
}

@media (min-width: 992px){
    .container {
    max-width: 960px;
}

}
