* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    font-weight: 400;
    margin: 30px;
}

.title {
    font-weight: 600;
}

img {
    height: 200px;
    width: 400px;
}

.button {
    background-color: #022EC1;
    width: 400px;
    margin: 40px auto;
    padding: 3px;
}

.button .btn {
    text-decoration: none;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}