/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.col-sm-12 {
  margin-top: 10px;
}
.heading {
  font-weight: 400;
  margin: 30px;
}

.title {
  font-weight: 600;
}

.button {
  background-color: #022ec1;
  width: 400px;
  margin: 40px auto;
  padding: 3px;
}

.button .btn {
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 480px) {
  .heading {
    font-weight: 100px;
    font-size: 50px;
    margin-top: 100px;
  }
  .title {
    font-weight: 100px;
    font-size: 10px;
  }
  imgg {
    height: 150px;
    width: 200px;
    margin-top: 30px;
  }
  .button {
    background-color: #022ec1;
    width: 200px;
    margin: 40px auto;
    padding: 3px;
    height: 52px;
  }
  .button .btn {
    text-decoration: none;
  }
  .btn .btn-link {
    margin-top: -12px;
    height: 50px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .heading {
    font-weight: 250px;
    font-size: 120px;
    margin-top: 100px;
  }
  .title {
    font-weight: 120px;
    font-size: 15px;
  }
  imgg {
    height: 120px;
    width: 210px;
    margin-top: 30px;
  }
  .button {
    background-color: #022ec1;
    width: 200px;
    margin: 40px auto;
    padding: 3px;
    height: 52px;
  }
  .button .btn {
    text-decoration: none;
  }
  .btn .btn-link {
    margin-top: -12px;
    height: 50px;
  }
}
