.contact-container{
  box-shadow: 0 14px 20px rgba(0,0,0,0.25),
              0 10px 10px rgba(0,0,0,0.22);
}
.contact-content{
  margin-left: 250px;
  margin-top: 100px;
}
.contact-image{
  height: 470px;
  margin-left: 70px;
}
.contact-touch0{
  color: white;
  font-size: 40px;
  font-family: Raleway;
  font-weight: bold;
  display: inline-block;
  width: 109px;
  height: 94px;
}
.contact-touch1, .contact-touch2, .contact-touch3{
  color: #FFFFFF;
  font-family: Raleway;
  font-weight: 500;
  display: flex;
  margin-top: 50px;
  font-size: 14px;
}
.contact-label{
  font-size: 14px;
  font-family: Raleway;
  font-weight: 500;
}
.contact-textarea{
  resize: none;
  height: 200px;
}
.contact-form{
  margin-left: 15px;
  padding-right: 10px;
}
/* .contact-circle{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -30px;
  margin-left: 50px;
  
} */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
  #contact-contain {
      width: 360px;
      margin-left: 5px;
      margin-right: 0px;
  }
  div.contact-col-md-6{
      width: 360px;
  }
  .contact-image{
      height: 400px;
      margin-left: 20px;
  }
  .contact-content{
      margin-left: 150px;
      margin-top: 70px;
  }
  }

  @media only screen and (max-device-width : 425px) {
      /* Styles */
      #contact-contain {
          width: 410px;
          margin-left: 7px;
          margin-right: 0px;
      }
      .contact-col-md-6{
          width: 410px;
      }
      .contact-image{
          height: 400px;
          margin-left: 20px;
      }
      .contact-content{
          margin-left: 150px;
          margin-top: 70px;
      }
      }

      @media only screen and (max-device-width : 768px) {
          #contain {
              width: 410px;
              margin-left: 7px;
              margin-right: 0px;
          }
          .contact-col-md-6{
              max-width: 47%;
          }
          .contact-image{
              height: 400px;
              margin-left: 10px;
          }
          .contact-content{
              margin-left: 50px;
              margin-top: 70px;
          }
          }
  
