* {
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  display: grid;
  background: #ffffff;
  grid-template-areas:
    'header header header header'
    'main main aside aside'
    'footer footer footer footer';
  height: 100%;
}
/*position: fixed;*/
.main-header {
  grid-area: header;
  width: 100vw;
  padding: 1rem 1rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-nav {
  display: flex;
}
.main-nav__items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.main-nav__item {
  margin: 0 1rem;
  padding: 0.5rem;
  text-align: right;
}
.main-nav__item a {
  color: #373737;
  text-decoration: none;
  font-weight: bold;
  padding: 0.2rem 0;
}
.main-nav__item a:hover {
  color: #ccc;
}
.main-nav__item a:active {
  color: #022ec1;
}
.main-nav__item--cta a {
  color: #022ec1;
  border: 2px solid #022ec1;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}
.toggle-button:focus {
  outline: none;
}
.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}
.product-overview {
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
}
.product-overview__section {
  padding: 2rem;
  width: 100%;
}
.product-overview__description {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: flex-end;
  text-transform: capitalize;
}
li {
  color: #022ec1;
}
li p {
  color: black;
}
.product-image {
  width: 40%;
  padding: 3rem;
}
.signUpButton {
  width: 65%;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  background: #022ec1;
  color: #ffffff;
}
.signUpButton a {
  text-decoration: none;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }
}

@media (max-width: 40rem) {
  body {
    width: 100%;
    height: 100%;
  }
  .main-nav {
    display: none;
  }
  .product-overview {
    margin-top: 0.5rem;
  }
  .product-overview__section {
    width: 100%;
    text-align: center;
  }
  .product-overview__description{
  	padding: 3rem;
  	font-size: 50px;
	  line-height: 55px;
 }
  .product-image {
    display: none;
  }
  .signUpButton {
    width: 100%;
  }
}
.landing-product-overview{
	text-align: left;
	font-size: 4.5em;
	margin-bottom: 0.5em;
	line-height: 6rem;
}
.landing-product-section{
	margin-right: 4em;
	align-content: flex-end
}
.landing-signup-button{
	width: 25em;
	
}
.landing-product-image{
	display: block;
	margin: 0 auto;
	transform: translateX(10%);
	padding-right: 2em;
	width: 1000;
	height: 500
}
.landing-product-overview-list{
	color:"grey";
	font-weight:"bold";
	font-size:"3em";

}

.landing-product-overview-hide{
	display: none;
	padding: 3rem;
	font-size: 50px;
	line-height: 55px;
}


@media screen and (max-width: 1246px){

	.landing-product-overview{
		text-align: left;
		font-size: 4em;
		margin-bottom: 0.5em;
	}
	.landing-product-section{
		margin-right: 3rem;
	}
	.landing-signup-button{
		width: 40%;
		font-size: 0.8em
		
	}


}
@media screen and (max-width:1121px){
	.landing-product-overview{
		text-align: left;
		font-size: 3em;
		margin-bottom: 0.5em;
	}
	.landing-product-section{
		margin-right: 3rem;
		align-content: flex-end;
		padding-right: 0px;
	}
	.landing-signup-button{
		width: 15rem;
		font-size: 0.8em
		
	}
}
@media screen and (max-width:768){
	.landing-product-overview{
		text-align: left;
		font-size: 2.5rem;
		margin-bottom: 0.5em;
		display: none;
	}

	.landing-product-overview-hide{
		text-align: left;
		font-size: 2.5rem;
		margin-bottom: 0.5em;
		display: block;
	}
	.landing-product-section{
		margin-right: 3rem;
		align-content: flex-end
	}
	.landing-signup-button{
		width: 40%;
		font-size: 0.8em
		
	}
}
@media screen and (max-width:40rem){
	.landing-product-overview{
		text-align: center;
		font-size: 4rem;
		margin-bottom: 0.5em;
		display: none
	}
	.landing-product-overview-hide{
		display: block;
		text-align: center;
		font-size: 2rem;
		margin-bottom: 0.5em;
		padding-bottom: 0px;
	}
	.landing-product-section{
		margin-right: 0px;
		align-content: flex-end;
		
	}
	.landing-signup-button{
		width: 40%;
		font-size: 0.8em
		
	}
	.landing-product-overview-list-parent{
		text-align: center;
		padding-left: 0;
		margin-left: 0;
		list-style: none;
	}
	
}
