@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');
.btn-login {
  background-color: #fff;
  border: 1px solid #022ec1;
  border-radius: 8px;
  width: 135px;
  height: 35px;
}
.navbar {
  margin-left: 0px;
  opacity: 1.5;
  background: #fff;
}
.navbar .nav-item {
  font-size: 17px;
  padding-right: 1.9rem;
  font-family: 'Raleway';
  color: black;
}
.py- {
  padding-top: 0px;
  border: none;
}
.msg {
  font-size: 64px;
  font-family: 'Raleway';
  line-height: 75px;
  display: flex;
  color: #000000;
  text-align: left;
  letter-spacing: 2px;
  font-weight: 600px;
}
ul {
  list-style: none;
}

.list::before {
  content: '\2022';
  color: #022ec1;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  font-size: 170%;
}
.list {
  font-size: 18px;
  font-weight: 600px;
  width: 230px;
  height: 35px;
  left: 60px;
  margin-left: -35px;
}
.btn-signup {
  cursor:pointer;
  background-color: #022ec1;
  border: 5px solid #022ec1;
  color: #fff;
  border-radius: 8px;
  width: 295px;
  height: 50px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  margin-left: -10px;
  font-size: 17px;
}
.img-fluid {
  margin-top: 90px;
}
#feature,
#questions {
  color: #022ec1;
  font-family: 'Raleway';
  font-weight: bold;
  padding-bottom: 40px;
}
.dashboard,
.expenses {
  background-color: #022ec1;
  border: 5px solid #022ec1;
  color: #fff;
  border-radius: 8px;
  width: 218px;
  height: 50px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  margin-left: -10px;
  font-size: 17px;
}
.with {
  width: 485px;
  font-size: 20px;
  font-family: 'Raleway';
}
.know {
  font-size: 40px;
  font-family: 'Raleway';
}
.standingman {
  margin-left: 280px;
}
.download {
  color: #022ec1;
  font-size: 35px;
  font-family: 'Raleway';
  font-weight: bold;
}
.panel-title > a:before {
  float: right !important;
  font-family: FontAwesome;
  content: '\f068';
  padding-right: 5px;
}
.panel-title > a.collapsed:before {
  float: right !important;
  content: '\f067';
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus {
  text-decoration: none;
}
.three {
  font-size: 18px;
  padding-left: 10px;
  font-weight: normal;
}
.trip-container{
box-shadow: none;

}